# プロダクションビルド時に使用される .env ファイル

# 本来のトークン。書かなくても良い
MAPBOX_TOKEN='<Mapbox-API-token>'

# scripts/make-shuffled-token.ts によってシャッフルされたトークンをセットする。プロダクションビルドには必須。
VITE_MAPBOX_TOKEN_SHUF='<shuffled-token-by-scripts/make-shuffled-token.ts>'

# scripts/make-shuffled-token.ts --seed-word で渡した文字列。書かなくても良い
SEED_WORD=mapboxtest
